* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header {
    background: white;
    color: #4C76C3;
    padding: 50px 0;
}

.header-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-column {
    flex: 1;
    padding: 0 20px;
}

.header-column p {
    font-size: 1.2rem;
}

.button {
    background: #4C76C3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background: #99b1e2;
}

section {
    padding: 60px 0;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1.2rem;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
    font-size: 1.2rem;
}

form input, form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #4C76C3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:disabled,
button[disabled]{
    background-color: #cccccc;
    color: #666666;
}


footer {
    background: #4C76C3;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}